.head{
	-fx-font-size: 3.2em;
	-fx-fill: black;
}
.head1{
	-fx-font-size: 2.3em;
}
.para{
	-fx-font-size: 1.7em;
}
.text{
	-fx-font-size: 1.5em;
}
.btnnext{
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-text-fill: black;
}
.btnnext:hover{
	-fx-background-color: #5FABE9;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}
.btn1{
	-fx-background-color: transparent;
}
.btn1:hover{
	-fx-background-color: #5FABE9;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}
.tfield{
	-fx-border-color: black;
	-fx-background-color:-fx-control-inner-background;
	-fx-background-insets: 0;
}
.rect{
	-fx-fill: white;
	-fx-opacity: 0.5;
}