.btn{
	-fx-text-fill: white;
	-fx-background-color:transparent;
	-fx-font-size:1.3em;
}
.btn:hover{
	-fx-background-color:#999;
}
.btnm{
	-fx-text-fill: black;
	-fx-background-color:transparent;
	-fx-font-size:1.3em;
	-fx-border-color: black;
}
.rectd{
	-fx-fill: #666;
}
.home{
	-fx-text-fill: white;
	-fx-background-color: #8FF70C;
	-fx-font-size:1.3em;
	-fx-border-color: #8FF70C;
}
.but{
	-fx-background-color:transparent;
}
.back{
	-fx-background-color:transparent;
	-fx-font-size:1.45em;
}
.rect{
	-fx-fill: #ddd;
}
.rect2{
	-fx-fill: #fff;
}
.head{
	-fx-font-size:4em;
	-fx-fill:#8FF70C;
}
.btn1{
	-fx-font-size: 1.3em;
	-fx-background-color:transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0px 0px 4px 0px;
}
.btn1:hover{
	-fx-border-color:#8FF70C;
}
.btn2{
	-fx-font-size: 1em;
	-fx-background-color:transparent;
	-fx-border-color: transparent;
}
.text1{
	-fx-font-size:2em;
}
.chart-plot-background{
	-fx-background-color: white;
 }
 .chart-vertical-grid-lines {
    -fx-stroke:transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke:transparent;
}
.chart-alternative-row-fill {
    -fx-fill:#eee;
    -fx-stroke: transparent;
}
.default-color0.chart-series-line {
    -fx-stroke:#8FF70C;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #8FF70C;
}
.data0.chart-pie{
	-fx-pie-color: #8FF70C;
}
.data1.chart-pie{
	-fx-pie-color: #E5F717;
}
.default-color0.chart-bar{
	-fx-bar-fill: #8FF70C;
}
.default-color0.chart-bar{
	-fx-bar-fill: #8FF70C;
}
.btn3{
	-fx-background-color: white;
	-fx-font-size: 1.5em;
}