.stack{
	-fx-background-image: url(about.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
}
.rect1{
	-fx-fill: white;
	-fx-opacity: 0.85;
}
.rect2{
	-fx-fill: black;
	-fx-opacity: 0.3;
}
.head{
	-fx-font-size: 3.2em;
	-fx-fill: white;
}
.para{
	-fx-font-size: 1.8em;
	-fx-fill: white;
}
.btn{
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-text-fill: black;
	-fx-font-size: 1.3em;
}
.tfield{
	-fx-border-color: black;
	-fx-border-radius: 6em;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-font-size: 1.3em;
	-fx-prompt-text-fill: black;
}
.para2{
	-fx-font-size: 1.8em;
	-fx-fill: black;
}
.btnn{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill: black;
	-fx-font-size: 1.3em;
}