.text{
	-fx-font-size: 1.3em;
}
.text1{
	-fx-font-size: 1.7em;
}
.field{
	-fx-background-insets: 0;
	-fx-background-color: transparent;
	-fx-border-color: black; 
	-fx-border-width: 0 0 2 0;
}
.button{
	-fx-background-color: transparent;
	-fx-border-color: black;
}
.stack{
	-fx-background-image: url(room.jpeg);
  	-fx-background-size: stretch ;
 	-fx-background-position: center;
}
.rect{
	-fx-fill: white;
	-fx-opacity: 0.6;
}
.text2{
	-fx-font-size: 3.7em;
}